%table.table.table-striped.table-hover
  %thead
    %tr
      %th= Booking.l(:booking_date)
      %th= Booking.l(:voucher_number)
      %th= Booking.l(:text)
      %th= Booking.l(:from_account)
      %th= Booking.l(:to_account)
      %th= Booking.l(:value)
      %th.no-print
  %tbody
    - bookings.each do |booking| 
      %tr.booking
        %td= booking.booking_date
        %td= booking.voucher_number
        %td= booking.text
        %td= format_account(booking.from_account)
        %td= format_account(booking.to_account)
        %td= format_currency(booking.value_f)
        %td.no-print
          = link_to "Show", booking
          = link_to "Revert", revert_booking_path(booking) unless booking.reverted_by_booking
      - booking.child_bookings.each do |child_booking|
        %tr.booking.child
          %td
          %td
          %td
          %td= format_account(child_booking.from_account)
          %td= format_account(child_booking.to_account)
          %td= format_currency(child_booking.value_f)
          %td.no-print
