.no-print
  .import
    = form_tag import_bookings_path, multipart: true do |f|
      = file_field_tag :file
      = submit_tag 'Import'
  = link_to "New", new_booking_path, class: "btn"
  = link_to "By account", index_by_account_bookings_path, class: "btn"
  = link_to "PDF", bookings_path(format: :pdf), class: "btn"
= render partial: "index", formats: [:html], locals: { bookings: @bookings }
