.no-print
  = link_to "By time", bookings_path, class: "btn"
  = link_to "PDF", index_by_account_bookings_path(format: :pdf), class: "btn"
- @accounts.each do |account|
  %h3
    = format_account(account)
    = format_currency(account.balance_f)
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th= Booking.l(:booking_date)
        %th= Booking.l(:voucher_number)
        %th= Booking.l(:text)
        %th= Booking.l(:from_account)
        %th= Booking.l(:to_account)
        %th= Booking.l(:value)
        %th.no-print
    %tbody
      - account.bookings.each do |booking| 
        %tr.booking
          %td= booking.booking_date
          %td= booking.voucher_number
          %td= booking.text
          %td= format_account(booking.from_account)
          %td= format_account(booking.to_account)
          %td= format_currency(booking.value_f)
          %td.no-print
            = link_to "Show", booking
