= link_to Booking.l, new_booking_path
= simple_form_for(@booking) do |f|
  = f.input :business_year_id, as: :select, collection: @business_years, include_blank: false
  = f.input :booking_date, as: :string, input_html: { class: "datepicker" }
  = f.input :voucher_number
  = f.input :from_account_id, as: :select, collection: @accounts, include_blank: false
  = f.input :to_account_id, as: :select, collection: @accounts, include_blank: false
  = f.input :text
  = f.input :value_f
  = f.input :vat_account_id, as: :select, collection: @accounts, include_blank: false
  = f.input :vat_on_input, as: :radio_buttons
  = f.input :vat_percentage
  = f.button :submit
